page-request {
 .im{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    display: table;
 }
 .keyword{
   border: solid 1px;
   display: -webkit-box;
   top: 2rem;
   position: relative;
 }

}
