page-login {
    .naver{
        background:transparent;
        top:45%;
        position: fixed;
        width:222px;
        left:20%;
        height: 49px;
        margin-left: 0;
        margin-right: 0;
        background-image:url('./../assets/imgs/kakaobtn.png');
    }
    
}
